<div class="title">
  <h1>Comprar Ações</h1>
</div>

<div class="content">
  <form class="row g-1">
    <div class="col-md-8">
      <label for="inputState" class="form-label">Qual ação deseja?</label>
      <select id="" class="form-select">
        <option selected>Escolher ação...</option>
        <option>...</option>
        <option>...</option>
        <option>...</option>
        <option>...</option>
        <option>...</option>
        <option>...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-8">
      <label for="inputCity" class="form-label">Quantidade:</label>
      <input type="number" class="form-control" id="
      ">
    </div>
    <div class="col-md-8">
      <button type="submit" class="btn btn-primary">Comprar</button>
    </div>
  </form>
</div>
