<div class="title">
  <h1>Ações</h1>
</div>
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Empresa</th>
        <th scope="col">Data</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preco unitário</th>
        <th scope="col">Total investido</th>
        <th scope="col">Cotação do dia</th>
        <th scope="col">Valorização hoje</th>
        <th scope="col">Valor atual</th>
        <th scope="col">Lucro/Prejuízo</th>
        <th scope="col">%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
      </tr>
    </tbody>
  </table>
</div>
