.content{
    margin: 50px;
    margin-bottom: 200px;
}

.title{
    margin: 50px;
    text-align: center;
}

.table {
  margin-bottom: 100px;
  text-align: center;
}
button {
    width: 130px;
    height: 40px;
    border: 3px solid #033c5a;
    color: white;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #033c5a;
    font-size: 1em;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }
  
  button:hover {
    background: #08699c;
    color: white;
  }

  .espaço {
    margin-top: 100px;
  }

  .zero{
    border: 0px;
  }