<div class="title">
  <h1>TOP 10 ações mais ativas do dia:</h1>
</div>
<div class="content">
  <table class="table" *ngIf="acoes.length">
    <thead>
      <tr>
        <th scope="col" class="zero"></th>
        <th scope="col">Ticker</th>
        <th scope="col">Empresa</th>
        <th scope="col">Valor da abertura</th>
        <th scope="col">Valor atual</th>
        <th scope="col">Mudança</th>
        <th scope="col">Mudança em %</th>
        <th scope="col">Volume total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of acoes">
        <button (click)="adicionarAcao(item)" class="btn btn-primary">Seguir Ação</button>
        <td>{{item.api1}}</td>
        <td>{{item.api2}}</td>
        <td>{{item.api3 | currency:'USD': 'symbol': '1.2-2'}}</td>
        <td>{{item.api4 | currency:'USD': 'symbol': '1.2-2'}}</td>
        <td colspan="1" [ngStyle]="{ 'color': item.api5 >= 0 ? 'green' : 'red'}">
          {{item.api5 | currency:'USD': 'symbol': '1.2-2'}}</td>
        <td colspan="1" [ngStyle]="{ 'background-color': item.api6 >= 0 ? 'green' : 'red', 'color': 'white' }">
          {{ item.api6 | percent: '1.2-2' }}</td>
        <td>{{item.api7 | currency:'USD': 'symbol': '1.2-2'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="espaço"></div>
</div>

