<div class="navbar">
  <div class="logo">
      <h2 [routerLink]="['/pagina-inicial']"  (click)="reloadPage('/pagina-inicial')">Bolsa de valores</h2>
  </div>
  <div class="items">
      <ul>
        <a>
          <button class="button" [routerLink]="['/pagina-inicial']"  (click)="reloadPage('/pagina-inicial')">
            Página Inicial
          </button>
        </a>
        <a>
          <button class="button" [routerLink]="['/carteira-acoes']"  (click)="reloadPage('/carteira-acoes')">
            Carteira
          </button>
        </a>
        <a>
          <button class="button" [routerLink]="['/my-watchlist']"  (click)="reloadPage('/my-watchlist')">
            WatchList
          </button>
        </a>
      </ul>
  </div>
</div>
