*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #075d8b;

}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #075d8b;
    height: 75px;
}
.logo h2{
    color: #fff;
    letter-spacing: 6px;
    cursor: pointer;
}

.itens {
  background-color: blue;
}
.items ul a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    background-color: bisque;
}
.items ul a:hover{
    color: rgb(179, 245, 245);
}

.button {
  background-color: #033c5a; /* Cor de fundo */
  border: none; /* Removendo a borda */
  color: white; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Removendo a decoração de texto */
  display: inline-block; /* Exibindo como bloco inline */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 5px;
}

.button:hover {
  background-color: black; /* Cor de fundo ao passar o mouse */
}
