<div class="title">
  <h1>Carteira de ações</h1>
</div>
<div class="content">
  <table class="table" *ngIf="acoes.length">
    <thead>
      <tr>
        <th>Ticker</th>
        <th>Empresa</th>
        <th>Data</th>
        <th>Quantidade</th>
        <th>Preco unitário</th>
        <th>Total investido</th>
        <th>Cotação do dia</th>
        <th>Valorização hoje</th>
        <th>Valor atual</th>
        <th>Lucro/Prejuízo</th>
        <th>% Total</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of acoes">
        <td colspan="1">{{item.ticker}}</td>
        <td colspan="1">{{item.empresa}}</td>
        <td colspan="1">{{item.data}}</td>
        <td colspan="1">{{item.quantidade}}</td>
        <td colspan="1">{{item.preco_unitario | currency:'USD': 'symbol': '1.2-2'}}</td>
        <td colspan="1">{{item.quantidade * item.preco_unitario  | currency:'USD': 'symbol': '1.2-2'}}</td>
        <td colspan="1"> {{ item.api1 | currency:'USD': 'symbol': '1.2-2' }} </td>
        <td colspan="1" [ngStyle]="{ 'background-color': item.api2 > 0 ? 'green' : 'red', 'color': 'white' }">
          {{ item.api2 | percent: '1.2-2' }}</td>
        <td colspan="1"> {{ (item.quantidade * item.api1) | currency:'USD': 'symbol': '1.2-2'}}</td>
        <td colspan="1" [ngStyle]="{ 'color': ((item.quantidade * item.api1) - (item.quantidade * item.preco_unitario) > 0) ? 'green' : 'red'}">
          {{ (item.quantidade * item.api1) - (item.quantidade * item.preco_unitario)| currency:'USD': 'symbol': '1.2-2'}}
        </td>
        <td colspan="1"
          [ngStyle]="{ 'background-color': ((((item.quantidade * item.api1) - (item.quantidade * item.preco_unitario)) / (item.quantidade * item.preco_unitario)) > 0) ? 'green' : 'red', 'color': 'white' }">
          {{ (((item.quantidade * item.api1) - (item.quantidade * item.preco_unitario)) / (item.quantidade * item.preco_unitario)) | percent: '1.2-2' }}
        </td>
        
      </tr>
      <tr>
        <td colspan="1" class="zero"></td>
        <td colspan="1" class="zero"></td>
        <td colspan="1" class="zero"></td>
        <td colspan="1" class="zero"></td>
        <th colspan="1">Total:</th>
        <td colspan="1">{{ getTotal() | currency:'USD': 'symbol': '1.2-2' }}</td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1">{{ getTotalAtual() | currency:'USD': 'symbol': '1.2-2' }}</td>
        <td colspan="1"
        [ngStyle]="{ 'color': (getTotalAtual() - getTotal() > 0) ? 'green' : 'red'}">
          {{ getTotalAtual() - getTotal() | currency:'USD': 'symbol': '1.2-2' }}</td>
        <td colspan="1" 
        [ngStyle]="{ 'background-color': ((getTotalAtual() - getTotal())/getTotal() > 0) ? 'green' : 'red', 'color': 'white' }">
        {{ (getTotalAtual() - getTotal())/getTotal() | percent: '1.2-2' }}</td>
      </tr>
      
    </tbody>
  </table>
</div>
