<div class="title">
    <h1>Carteira de Ações</h1>
  </div>
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Empresa</th>
          <th scope="col">Data</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preco unitário</th>
          <th scope="col">Total investido</th>
          <th scope="col">Cotação do dia</th>
          <th scope="col">Valorização hoje</th>
          <th scope="col">Valor atual</th>
          <th scope="col">Lucro/Prejuízo</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of result">
          <td colspan="1">{{item.ticker}}</td>
          <td colspan="1">{{item.empresa}}</td>
          <td colspan="1">{{item.data}}</td>
          <td colspan="1">{{item.quantidade}}</td>
          <td colspan="1">{{item.preco_unitario}}</td>
          <td colspan="1">{{item.quantidade * item.preco_unitario }}</td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
        </tr>
      </tbody>
    </table>
  </div>
  
