/* * {
  margin: 0px;
  background-color: white;
}

.all {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.header{
  height: 100vh;
  width: 15vw;
}
header {
  height: 100%;
  width: 100%;
}

.content{
  height: 100vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
}

main {
  height: 94%;
  width: 100%;
}

footer{
  height: 6%;
  width: 100%;
} */
