
<div class="rodaperotativo">
  <div class="slider">
    <div class="slide-track">
      <div class="slide" *ngFor="let acao of acoes">
        <p class="title-text">
          {{ acao.api1 }}
        </p> 
        <p class="dados" colspan="1" [ngStyle]="{ 'color': acao.api3 > 0 ? 'green' : 'red'}">
          {{ acao.api3 | percent: '1.2-2' }} 
        </p>
      </div>
    </div>
  </div>
</div>


<!--
    <div class="card">
    <div class="title">
      <p class="title-text">
        Nome API
      </p>
      <div class="data">
        <p>---
          9,999
        </p>
      </div>
    </div>-->