
<div class="rodaperotativo">
  <div class="slider">
    <div class="slide-track">
      <div class="slide" *ngFor="let acao of acoes">
        <p class="title-text">
          {{ acao.ticker }}
        </p> 
        <p class="dados">
          {{ acao.api1 }}
        </p>
      </div>
    </div>
  </div>
</div>


<!--
    <div class="card">
    <div class="title">
      <p class="title-text">
        Nome API
      </p>
      <div class="data">
        <p>
          9,999
        </p>
      </div>
    </div>-->