.rodaperotativo {

}

table {
  border: 10px solid red;
}

.tb {
  border: 10px solid green;
}



@mixin white-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7))
  }
}



.slider {
   background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 50px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 25s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    border: 0.5px solid white;
    background-image: linear-gradient(#08699c, #02283e);
    color: white;
  }


.title-text {
  padding-right: 1rem;
  padding-top: 0.5rem;
  font-weight: 130;
}

.dados {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 900;
}

.title {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.title-text {
  margin-top: 0.5rem;
  padding-right: 1rem;
  font-weight: 130;
}

.title-text.sigla {
  font-weight: 400;
}
