.paginator-buttons {
  display: flex;
}

.caixa {
  background-color: white;
  text-align: center;
}

.title {
  margin: 50px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.paginator-buttons {
  display: flex;
}

.card {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.card-body {
  background-color: #075d8b;
  flex-grow: 1;
}

.card-title {
  color: white;
}

.center-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-button button {
  margin: 10px;
  background-color: #075d8b;
  border: none;
  color: white;
}

.espaço {
  margin-top: 100px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
