

<div class="title">
  <h1>Watchlist:</h1>
  
</div>

<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="acoesWatchList.length" (page)="onPageChange($event)"></mat-paginator>
<div class="container">
  <ng-container *ngFor="let action of pagedAcoesWatchList">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{action.api1}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Valor da abertura: {{action.api3 | currency:'USD': 'symbol': '1.2-2'}}</li>
        <li class="list-group-item">Valor atual: {{action.api4 | currency:'USD': 'symbol': '1.2-2'}}</li>
        <li class="list-group-item">Mudança: {{action.api5 | currency:'USD': 'symbol': '1.2-2'}}</li>
        <li class="list-group-item">Variação do dia: {{action.api6 | percent: '1.2-2'}}</li>
      </ul>
      <div class="center-button">
        <button (click)="removeAction(action)" class="btn btn-primary">Remover Ação</button>
      </div>
    </div>
  </ng-container>
</div>
<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [length]="acoesWatchList.length" (page)="onPageChange($event)"></mat-paginator>
<div class="espaço"> </div>
