* {
    margin: 40px;
}
.container {
    margin: 50px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.container-card{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}